.stat-conn {
	background: blue;
	color: #fff;
	/* display: inline-flex; */
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	text-align: center;
	font-size: 18px;
}

.fila-tarefas table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;	
}

.fila-tarefas table td{
	text-align: center;
}

.container{
	margin-top:100px;
	margin-bottom:100px;
}

.box-green{
	background: rgba(103, 255, 0, 0.14);
	border-right: 1px dashed #c3c3c3;
	text-align: center;
}

.box-green:last-child{
	border-right: none;
}

.box-red{
	background: rgba(255, 0, 0, 0.14);
	border-right: 1px dashed #c3c3c3;
	text-align: center;
}

.box-red:last-child{
	border-right: none;
}